@font-face {
  font-family: "Bebas";
  src: url("../fonts/Bebas.woff2") format("woff2"),
    url("../fonts/Bebas.woff") format("woff"),
    url("../fonts/Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Bebas";
  font-weight: 400;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 18px;
  color: #e8603c;
}
.text {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 12px;
}
.grey {
  color: #b9b9b9;
}
.white {
  color: #ffffff;
}

.section{
  background-color: #000;
  width: 100px;
  height: 100px;
}

/* =====HEADER====== */
.header {
  padding: 23px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__burger {
  display: none;
}

.menu__list {
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin-left: 28px;
}
.menu__link {
  text-transform: uppercase;
  transition: all 0.5s;
}
.active,
.menu__link:hover {
  color: #e8603c;
}

/* ====SLIDER===== */

.slider {
  overflow: hidden;
}

.ears {
  position: relative;
}
.ears::after,
.ears::before {
  content: "";
  position: absolute;
  background-color: #f3af9d;
  height: 60px;
  width: 100%;
  top: 0;
}
.ears::before {
  left: calc(100% + 10px);
}
.ears::after {
  right: calc(100% + 10px);
}

.slider__text {
  position: absolute;
  bottom: 35px;
  left: 35px;
  max-width: 415px;

  padding: 25px 30px 25px 20px;
  background-color: rgba(236, 129, 89, 0.8);
  color: #ffffff;
}
.slider__text-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.slider__nav {
  padding: 20px 0;
}

.slider__nav:last-child {
  margin-right: -20px;
}

.slick-arrow {
  top: 160px;
  z-index: 5;
  cursor: pointer;
}

.slick-next {
  right: 35px;
}

.slick-prev {
  left: 25px;
}
.slick-next::before,
.slick-prev::before {
  font-size: 0;
}

/* ========BLOG========== */

.blog__inner {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 45px;
}
.blog__item {
  max-width: 280px;
  width: 100%;
  height: 278px;
}
.blog__title {
  padding-left: 70px;
  line-height: 24px;
  position: relative;
}
.blog__icon {
  position: absolute;
  top: 0;
  left: 0;
}
.blog__text {
  padding: 40px 0;
  line-height: 18px;
}
.blog__link {
  padding: 10px 15px;
  background-color: #e8663c;
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  transition: background-color 1s, color 0.5s;
}
.blog__link:hover {
  background-color: #b9b9b9;
  color: #e8663c;
}

/* =====WORKS======= */

.works__title {
  margin-bottom: 17px;
  background-image: url(../images/line.jpg);
}
.works__title--bg-white {
  background: #ffffff;
  padding-right: 10px;
}

.works__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.works__text {
  padding: 15px;
  border: 1px solid rgb(219, 219, 219);
  border-top: 0;
  margin-top: -1px;
}
.works__img {
  width: 220px;
}
.works__item {
  width: 220px;
}
.works__subtitle {
  margin-bottom: 8px;
}
.works__pretitle {
  color: #e8663c;
  font-size: 11px;
  line-height: 18px;
}

.Line {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 362px;
  top: 952px;
  width: 807px;
  height: 19px;
  z-index: 71;
}
/* =======FOOTER====== */

.footer {
  overflow: hidden;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 35px;
  background-color: #e8663c;
  color: #ffffff;
}
.footer__inner.ears::before,
.footer__inner.ears::after {
  height: 100%;
}

.footer__item {
  width: 260px;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.footer__link {
  line-height: 14px;
}

.footer__social {
  display: flex;
  justify-content: flex-start;
}
.footer__social--icon {
  margin-right: 5px;
}
